body {
    background-color: lightgray;
}
.home{
    max-width: 100%;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
.whats{
    position: fixed;
    top : 2em;
    left: 2em ;
    z-index: 1000;
}
.photos{
    max-width: 100%;
    margin: 0 auto;
}

.whats{
    width: 5em;
}
.title{
    text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 768px){
    .photos{
        max-width: 100%;
    }
}
