body {
    background-color: lightgray;
}
.home{
    max-width: 100%;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
img{
    max-width: 100%;
}
.photos{
    max-width: 100%;
}
.title{
    text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 768px){
    .photos{
        max-width: 100%;
    }
}
