

body {
    background: rgb(0,255,46);
background: radial-gradient(circle, rgba(0,255,46,0.27494747899159666) 35%, rgba(182,201,190,0.8995973389355743) 89%, rgba(94,223,0,0.3785889355742297) 96%);
}
.home{
    max-width: 100%;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}
img{
    max-width: 75% ;
    margin:3em auto;
}
.whats, .whatsimg{
   display: none !important;
}
.photos{
    max-width: 100%;
    margin: 0 auto;
}

.title{
    text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 768px){
    img{
        max-width: 100% !important;
        margin:5em 0;
    }
    .whats{
        display: block;
        position: fixed;
        z-index: 1000;
        top : -3.5em;
        left: 2em ;
    }
    .whatsimg{
        display: block !important;
        margin: 0;
        width: 5em;
    }
}