<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns#">
        <meta charset="UTF-8">
        <title>50 anni emanuela</title>
        <meta name="description" content="50 anni emanuela" />
        <meta name="viewport" content="width=device-width, initial-scale=1"> 

        <meta property="og:url" content="https://sas.papy-dev.fr">
        <meta property="og:type" content="website">
        <meta property="og:title" content="50 anni Emanuela">
        <meta property="og:description" content="50 anni Emanuela">
        <meta property="og:image:type" content="image/jpeg" /> 
        <meta property="og:image:secure_url" content="https://sas.papy-dev.fr/photos/pict.jpg">

       
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/assets/owl.carousel.min.css" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/assets/owl.theme.default.min.css" />	

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div clas="whats"> 
            <a href="whatsapp://send?text=https://sas.papy-dev.fr" ><img class="whatsimg" src={{asset('whats.png')}}></a>
        </div>
        {% block body %}{% endblock %}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v14.0" nonce="O90rWmeB"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/owl.carousel.min.js"></script>
            <script>
            $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                autoplay:true,
                loop:true,
                singleItem: true,
                navigation : true, // Show next and prev buttons 
                slideSpeed : 300,
                paginationSpeed : 400,
            
                items : 1, 
                itemsDesktop : false,
                itemsDesktopSmall : true,
                itemsTablet: false,
                itemsMobile : false
            })
            });
            </script>
    </body>
</html>
