<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta property="og:site_name" content="50 anni Emanuela">
        <meta property="og:title" content="50 anni Emanuela" />
        <meta property="og:description" content="photos" />
        <meta property="og:image:secure_url" itemprop="image" content="https://www.stickpng.com/fr/img/icones-logos-emojis/societes-de-technologie/icone-whatsapp-ios">
        <meta property="og:type" content="website" />
        <meta property="og:updated_time" content="1440432930" />
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="300">
        <meta property="og:image:height" content="300">
        <link rel="icon" href={{ asset('photos/pict000085.jpg')}}>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <a href="whatsapp://send?text=https://sas.papy-dev.fr" ><img class="whats" src={{asset('whats.png')}}></a>
        {% block body %}{% endblock %}
    </body>
</html>
